<%= render 'layouts/flash' %>
<% comments.order(created_at: :asc).each do |comment| %>
  <div id ="this_comment_<%= comment.id %>">
    <%= simple_format(comment.description) %>
    <span>投稿日時:<%= time_ago_in_words(comment.created_at) %></span>
    <span><%= link_to 'Edit', edit_blog_comment_path(blog, comment), remote: true %></span>
    <span><%= link_to 'Destroy', blog_comment_path(comment.blog_id, comment.id), data: { confirm: "本当に削除しますか?"}, method: :delete, remote: true %></span>
  </div>
<% end %>
